<div class="header-info">
    <div class="task-domain-container">
        <div class="domain-info">
            <span class="label">Domain:</span>
            <span class="domain-text">{{ domain }}</span>
        </div>
        <div class="label-info">
            <span class="label">Label:</span>
            <span class="label-text">{{ label }}</span>
        </div>
        <div class="task-info">
            <span class="label">Task:</span>
            <span class="task-text">{{ task }}</span>
        </div>
    </div>
    <div class="id-container">
        <span class="id-text">ID: {{ idx }}</span>
    </div>
</div>