<div class="question-container">
  <div class="question-stem {% if 'question' in modified %}modified{% endif %}">
    {{ display_question|safe }}
  </div>
  <div class="choices-container">
    <div class="choice {% if correct_answer == 'A' %}correct{% endif %} {% if 'choice_A' in modified %}modified{% endif %}">
      <span class="choice-letter">A:</span> {{ display_choice_A|safe }}
    </div>
    <div class="choice {% if correct_answer == 'B' %}correct{% endif %} {% if 'choice_B' in modified %}modified{% endif %}">
      <span class="choice-letter">B:</span> {{ display_choice_B|safe }}
    </div>
    <div class="choice {% if correct_answer == 'C' %}correct{% endif %} {% if 'choice_C' in modified %}modified{% endif %}">
      <span class="choice-letter">C:</span> {{ display_choice_C|safe }}
    </div>
    <div class="choice {% if correct_answer == 'D' %}correct{% endif %} {% if 'choice_D' in modified %}modified{% endif %}">
      <span class="choice-letter">D:</span> {{ display_choice_D|safe }}
    </div>
  </div>
</div>