<div class="header-info">
    <div class="task-domain-container">
        <div class="domain-info">
            <span class="label">Domain:</span>
            <span class="domain-text">{{ domain }}</span>
        </div>
        <div class="label-info">
            <span class="label">Label:</span>
            <span class="label-text">{{ label }}</span>
        </div>
        <div class="task-info">
            <span class="label">Task:</span>
            <span class="task-text">{{ task }}</span>
        </div>
    </div>
    <div class="id-container">
        <span class="id-text">ID: {{ idx }}</span>
    </div>
</div>
<div class="questions-container">
    <div class="question-container">
        <div class="question-stem {% if 'question' in modified %}modified{% endif %}">
            {{ a_question|safe }}
        </div>
        <div class="choices-container">
            <div class="choice {% if correct_answer == 'A' %}correct{% endif %} {% if 'choice_A' in modified %}modified{% endif %}">
                <span class="choice-letter">A:</span> {{ a_choice_A|safe }}
            </div>
            <div class="choice {% if correct_answer == 'B' %}correct{% endif %} {% if 'choice_B' in modified %}modified{% endif %}">
                <span class="choice-letter">B:</span> {{ a_choice_B|safe }}
            </div>
            <div class="choice {% if correct_answer == 'C' %}correct{% endif %} {% if 'choice_C' in modified %}modified{% endif %}">
                <span class="choice-letter">C:</span> {{ a_choice_C|safe }}
            </div>
            <div class="choice {% if correct_answer == 'D' %}correct{% endif %} {% if 'choice_D' in modified %}modified{% endif %}">
                <span class="choice-letter">D:</span> {{ a_choice_D|safe }}
            </div>
        </div>
    </div>
    <div class="question-container">
        <div class="question-stem {% if 'question' in modified %}modified{% endif %}">
            {{ b_question|safe }}
        </div>
        <div class="choices-container">
            <div class="choice {% if correct_answer == 'A' %}correct{% endif %} {% if 'choice_A' in modified %}modified{% endif %}">
                <span class="choice-letter">A:</span> {{ b_choice_A|safe }}
            </div>
            <div class="choice {% if correct_answer == 'B' %}correct{% endif %} {% if 'choice_B' in modified %}modified{% endif %}">
                <span class="choice-letter">B:</span> {{ b_choice_B|safe }}
            </div>
            <div class="choice {% if correct_answer == 'C' %}correct{% endif %} {% if 'choice_C' in modified %}modified{% endif %}">
                <span class="choice-letter">C:</span> {{ b_choice_C|safe }}
            </div>
            <div class="choice {% if correct_answer == 'D' %}correct{% endif %} {% if 'choice_D' in modified %}modified{% endif %}">
                <span class="choice-letter">D:</span> {{ b_choice_D|safe }}
            </div>
        </div>
    </div>
</div>